body {
    color: var(--color-text-main, #F00);
}

.site {
    padding: var(--spacing-site, 2em);
}

.site-content {
    max-width: 60rem;
    margin: 0 auto;
}

body p:first-child {
    --color-text-main: #F00;
}
